.logo-landing{
    width: 300px
}

.button-register{
    background: #2FC4B2;
    font-weight: 1000;
}

.button-login{
    background: #e7e7e7;
    font-weight: bold;
}
.modal-alert .modal-dialog .modal-content {
    height: 10px;
    color: #fff;
    background: #2fc4b370;
    padding: 25px 35px
}